.home-header {
  background: rgb(255, 148, 148);
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container {
  width: 100vw;
  height: auto;
  background: #fff5e4;
}

.header-btn:hover {
  border-color: white;
}

.home-heading {
  padding: 0px;
  margin: 0px;
  font-size: 44px;
  margin-left: 30px;
  color: white;
  font-family: "Caveat", cursive;
}

.home-main {
  margin: auto;
  margin-top: -150px;
  width: 100vw;
  height: 100vh;
  background-image: url("../../utils/images/yoga_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  display: flex;
  justify-content: center;
}

.description {
  font-size: 66px;
  color: rgb(27, 15, 15);
  text-align: center;
  margin: 0px;
  margin-top: 3%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
}

.btn-section {
  margin: auto;
  position: absolute;
  top: 80vh;
}

.btn {
  width: 300px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px 20px 10px 20px;
  background-color: rgb(255, 148, 148);
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
}
.btn:hover {
  background: rgb(255, 209, 209);
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}
